* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 252;
  --hue-error: 3;
  --bg: hsl(var(--hue), 10%, 90%);
  --bg-t: hsla(var(--hue), 10%, 90%, 0);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --error: hsl(var(--hue-error), 90%, 40%);
  --focus: hsl(var(--hue), 90%, 50%);
  --focus-t: hsla(var(--hue), 90%, 50%, 0);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  font-size: calc(14px + (28 - 14) * (100vw - 280px) / (3840 - 280));
  --table-bg: rgb(20 20 26 / 0);
  --table-border: #495057;
  --table-padding: 15px;
  --table-color-1: #47c2ff;
  --table-color-2: #9871f4;
  --table-radius: 12px;
  --inner-radius: calc(var(--table-radius) * 0.666667);
}

body,
button,
input {
  color: var(--fg);
  font: 20px/1.5 Lato;
}

body {
  background-color: var(--bg);
  display: flex;
  height: 100vh;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.input {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}
.input__input-textbox {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.input__field {
  position: relative;
  margin: 10px 8px;
  transition: opacity var(--trans-dur);
  flex: 0 0 calc(50% - 16px);
}

.input__form {
  flex-shrink: 0;
  margin: 1em 0;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-self: space-between;
}
.input__input-textbox {
  border-radius: 0 5in 5in 0;
  box-shadow: 0 0 0 0.125em hsl(var(--hue), 10%, 80%) inset;
  outline: transparent;
  padding: 1.5em 1em 0.5em 1em;
  width: 100%;
  transition: box-shadow var(--trans-dur), color var(--trans-dur);
}
.input__input-textbox:not(:disabled):focus-visible {
  box-shadow: 0 0 0 0.1875em var(--focus) inset;
}
.input__input-textbox[aria-invalid="true"] {
  box-shadow: 0 0 0 0.125em var(--error) inset;
}
.input__input-textbox[aria-invalid="true"]:not(:disabled):focus-visible {
  box-shadow: 0 0 0 0.1875em var(--error) inset;
}
.input__input-textbox[aria-invalid="true"]
  ~ .input__error
  .input__field:has(.input__input-textbox:disabled) {
  opacity: 0.5;
}
.input__label {
  color: hsl(var(--hue), 10%, 30%);
  cursor: text;
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 1em;
  transform-origin: 0 0;
  transition: color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing);
}
.input__input-textbox + .input__label {
  pointer-events: none;
}
.input__input-textbox:focus-visible + .input__label {
  color: var(--focus);
}
.input__input-textbox[aria-invalid="true"]:focus-visible + .input__label {
  color: var(--error);
}
.input__input-textbox:focus-visible + .input__label,
.input__input-textbox:not(:placeholder-shown) + .input__label {
  transform: translateY(-25%) scale(0.75);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --bg-t: hsla(var(--hue), 10%, 10%, 0);
    --fg: hsl(var(--hue), 10%, 90%);
    --error: hsl(var(--hue-error), 90%, 70%);
    --focus: hsl(var(--hue), 90%, 70%);
    --focus-t: hsla(var(--hue), 90%, 70%, 0);
  }

  .input__field {
    position: relative;
  }
  .input__input-textbox {
    box-shadow: 0 0 0 0.125em hsl(var(--hue), 10%, 30%) inset;
  }
  .input__label {
    color: hsl(var(--hue), 10%, 70%);
  }
}

#financialModelForm {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: calc(40vw - 20px); /* Adjust the max width as necessary */
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #495057;
  overflow: hidden;
  overflow-y: scroll;
  padding: 24px;
}

.results-container {
  width: 100%;
  max-width: calc(60vw - 20px); /* Adjust the max width as necessary */
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #495057;
  overflow: hidden;
  overflow-y: scroll;
  padding: 24px;
}

.form-container {
  margin-bottom: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input__field::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    126deg,
    #6a35ee 0%,
    #9930ef 14.24%,
    #5737ee 49.56%,
    #795ceb 93.2%
  );
  width: 4px;
  height: 100%;
}

button {
  background: none;
}

.simulate {
  width: 100%;
  background: linear-gradient(
    126deg,
    #6a35ee 0%,
    #9930ef 14.24%,
    #5737ee 49.56%,
    hsl(252, 78%, 64%) 93.2%
  );

  color: white;
  border: none;
  border-radius: 43px;
  cursor: pointer;
  flex: 0 0 calc(50% - 16px);
  margin: 10px 8px;
}

/* Results layout */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container,
.details-container {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.details-container {
  overflow-x: auto; /* Allow horizontal scrolling */
  max-height: 400px; /* Fixed height for scrolling */
  width: 100%;
}

/* Table styles */
.results-table {
  min-width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.summary {
  text-align: start;
  margin-bottom: 20px;
}

.summary {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: linear-gradient(
    126deg,
    #6a35ee 0%,
    #9930ef 14.24%,
    #5737ee 49.56%,
    #795ceb 93.2%
  );
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: -0.24px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summary h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff90;
}

.summary p {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Allow horizontal scrolling */
}

.results-table {
  min-width: 100%; /* Adjust this value as needed */
  border-collapse: collapse;
  font-size: 16px;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 12px;
}

.wrap-table100 {
  width: 100%;
  overflow: hidden;
  max-height: 60vh;
  overflow-y: scroll;
  border-radius: 20px;
}

table {
  width: 100%;
  border-spacing: 0;
}

th,
td {
  font-weight: unset;
  padding: 12px;
}

.pill-switch {
  display: inline-flex;
  border-radius: 43px;

  padding: 5px;
  border: none;
  font-family: Arial, sans-serif;
  width: 412px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 70px;
  border: 1px solid #e9ecef;
  margin-bottom: 20px;
}

.pill-switch button {
  border: none;
  width: 200px;
  height: 100%;
  flex-shrink: 0;
  color: white;
  border-radius: 43px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

.pill-switch button.active {
  border-radius: 43px;
  background: linear-gradient(
    126deg,
    #6a35ee 0%,
    #9930ef 14.24%,
    #5737ee 49.56%,
    #795ceb 93.2%
  );
  color: #fff;
}

th .column100.column1 {
  /* width: 265px;
	padding-left: 42px; */
  border-radius: 20px 0 0 0;
}

th .column100.column7 {
  /* width: 265px;
	padding-left: 42px; */
  border-radius: 0 20px 0 0;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.table100.ver6 {
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    126deg,
    #6a35ee 0%,
    #9930ef 14.24%,
    #5737ee 49.56%,
    hsl(252, 78%, 64%) 93.2%
  );
  table-layout: auto;
  width: 100%;
}

.table100.ver6 table {
  background-color: transparent;
}

.table100.ver6 td {
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

.table100.ver6 th {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.32);
}

.table100.ver6 .row100:hover td {
  background-color: rgba(255, 255, 255, 0.1);
}

.table100.ver6 .hov-column-ver6 {
  background-color: rgba(255, 255, 255, 0.1);
}

.table100.ver6 .row100 td:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-clip: border-box;
  border: 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.2);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 10px;
  flex-grow: 1; /* Allow the card to grow */
  flex-shrink: 1; /* Allow the card to shrink */
  flex-basis: auto;
}

.card-body {
  min-height: 1px;
  padding: 1.5rem;
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}

.card-body p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#savingsChart {
  border-radius: 20px;
  border: 2px solid #495057;
  padding: 12px 6px;
  max-height: 55vh;
}

::-webkit-scrollbar {  display: none;}